/* Body */
body {
    font-family: "Source Sans Pro", sans-serif;
}

/* Navbar */
.bg-light {
    background-color: #4d0000 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: normal;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #f3f3f3;
    font-weight: normal;
}

.navbar-light .navbar-nav .nav-link:focus {
    color: #ffffff;
    font-weight: normal;
}

.navbar-light .navbar-brand {
    color: #ffffff;
}

.navbar-light .navbar-brand:hover {
    color: #ffffff;
}

/* Jumbotron */
.jumbotron {
    border-radius: 0;
    margin: 3rem 0 2rem 0;
    background-image: url("../images/hcc_hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .col-lg-.col-md-6.col-sm-12 {
    padding: 0;
}

.col-lg-8.col-md-12.col-sm-12 {
    margin: 0;
}

/* Section */
.section-title {
    text-align: left;
    font-size: 30px;
    font-weight: 700;
}

.title-section {
    margin-bottom: 45px;
}

/* Project Title */
.project-title {
    font-size: 20px;
    font-weight: 700;
}

/* Card */
.card {
    border-radius: 0;
    border: 0.2rem solid rgba(0, 0, 0, 0.125);
}

.card .btn {
    border-radius: 0;
}

.card-footer {
    border-top: none;
    background-color: #ffffff;
}

/* Button */
.btn.btn-block.btn-primary {
    background-color: #005c99;
    color: #ffffff;
}

.btn.btn-block.btn-primary:hover {
    background-color: #00264d;
}

.btn.btn-block.btn-dark:hover {
    background-color: #4d4d4d;
}

/* Badge */
.badge-primary {
    background-color: #005c99;
    border-radius: 0;
    color: #ffffff;
    padding: 0.4rem;
    margin: 0 5px 5px 0;
}

/* Footer */
.footer {
    background-color: #d9d9d9;
    font-weight: bold;
    padding: 2rem 0 2rem 0;
    text-align: center;
}

/* Modal */
.modal-dialog {
    height: 100vh;
    display: flex;
    align-items: center;
}

.modal-title {
    font-weight: bold;
}

/* Links */
a {
    color: #005c99;
}

/* Col */
.col-sm-12.col-md-6.col-lg-4 {
    margin-bottom: 1.4rem;
}

.col-lg-6.col-md-12.col-sm-12.overlay-column {
    padding: 0;
}

p {
    font-size: 1rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

p {
    text-align: left;
}

/* Text-Overlay */
.text-overlay {
    background-color: #000000;
    color: #ffffff;
    border-radius: 0;
    opacity: 0.8;
    padding: 3rem;
}

/*** Media Queries ***/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* Action Link Section */
    .action-link-section {
        text-align: left;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    p {
        text-align: justify;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    p {
        text-align: justify;
    }

    /* Action Link Section */
    .action-link-section {
        padding-left: 5rem;
    }
}
